#ModLoader Config
#Mon Sep 21 17:04:22 EDT 2026
mod_FullscreenCursorFix=on
mod_seasons=on
mod_Chainmail=on
mod_TooManyItems=on
mod_FurnishCraft=on
mod_Woolarmor=on
grassFix=true
loggingLevel=FINER
mod_SkinFix=on
mod_QuitButton=on
mod_SlotKeybinds=on
